body {
 display: flex;
 flex-direction: column;
 gap: 10px;
 align-items: center;
}

.container {
    border: 2px solid black;
    width: 320px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

div.square {
    outline: 1px solid black;
    /* width: 20px;
    height: 20px; */

}

.etch {
    background-color: aqua;
}